<div class="addToBasket" data-spinner>
	{if $item === null}
		<a n:href="add!" class="addToBasket-button" data-naja-history="replace">
			Add to Basket
		</a>
	{else}
		<form n:name="form" data-naja-history="replace">
			<button n:name="subtract" />
			{$item->amount}
			<button n:name="add" />
		</form>
	{/if}
</div>
