extensions:
	webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)

application:
	mapping:
		*: NajaSlowStart\*Module\*Presenter

webpack:
	build:
		directory: %wwwDir%/assets
		publicPath: /
	devServer:
		url: http://localhost:3000

services:
	- NajaSlowStart\Application\Routing\RouterFactory
	routing.router: @NajaSlowStart\Application\Routing\RouterFactory::create
