extensions:
	webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)

application:
	mapping:
		*: NajaSlowStart\Application\UI\*Module\Presenters\*Presenter

webpack:
	build:
		directory: %wwwDir%/assets
		publicPath: /
	devServer:
		url: http://localhost:3000

services:
	- NajaSlowStart\Application\Routing\RouterFactory
	routing.router: @NajaSlowStart\Application\Routing\RouterFactory::create

	@Nette\Bridges\ApplicationLatte\LatteFactory:
		setup:
			- addFilter(money, NajaSlowStart\Latte\Filters::formatMoney)

	- NajaSlowStart\Application\UI\Components\AddToBasketButton\AddToBasketButtonComponentFactory
	- NajaSlowStart\Application\UI\Components\BasketWidget\BasketWidgetComponentFactory
	- NajaSlowStart\Application\UI\Components\Paging\PagingComponentFactory
	- NajaSlowStart\Application\UI\Components\CategoryFilter\CategoryFilterComponentFactory

	- NajaSlowStart\Domain\Basket\Basket
	- NajaSlowStart\Domain\Catalog\ProductRepository
	- NajaSlowStart\Domain\Catalog\CategoryRepository
